<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/fachwerk/dist/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=IBM+Plex+Serif:ital,wght@1,500&family=Rubik:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.tailwindcss.com?plugins=typography,forms"></script>
    <style type="text/tailwindcss">
      .prose > * > h1:first-child,
      .prose > * > h2:first-child,
      .prose > * > h3:first-child,
      .prose > * > h4:first-child,
      .prose > * > h5:first-child,
      .prose > * > h6:first-child,
      .prose > * > * {
        @apply !mt-0;
      }
    </style>
    <script
      async
      src="https://unpkg.com/es-module-shims/dist/es-module-shims.js"
    ></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue/dist/vue.esm-browser.prod.js",
          "fachwerk": "https://unpkg.com/fachwerk/dist/fachwerk.mjs",
          "fachwerk/internal": "https://unpkg.com/fachwerk/dist/internal.mjs",
          "js-yaml": "https://unpkg.com/js-yaml/dist/js-yaml.mjs",
          "@slidev/parser": "https://unpkg.com/@slidev/parser/dist/index.mjs",
          "vue-demi": "https://unpkg.com/vue-demi/lib/index.mjs",
          "@vueuse/shared": "https://unpkg.com/@vueuse/shared/index.mjs",
          "@vueuse/core": "https://unpkg.com/@vueuse/core/index.mjs",
          "hashlru": "https://esm.sh/hashlru",
          "tailwind-merge": "https://unpkg.com/tailwind-merge/dist/index.mjs"
        }
      }
    </script>
    <script type="module">
      import { createApp, ref } from "vue";
      import { Fachwerk } from "fachwerk";
      import { compileMarkdown } from "fachwerk/internal";
      import { parse as parseSlides } from "@slidev/parser";
      import { useStorage, onKeyStroke, onClickOutside } from "@vueuse/core";
      import { twMerge } from "tailwind-merge";

      const round = (num) =>
        num
          .toFixed(7)
          .replace(/(\.[0-9]+?)0+$/, "$1")
          .replace(/\.0$/, "");
      const rem = (px) => `${round(px / 16)}rem`;
      const em = (px, base) => `${round(px / base)}em`;

      tailwind.config = {
        theme: {
          fontFamily: {
            sans: ["Rubik", "sans-serif"],
            mono: ["Cousine", "monospace"],
          },
        },
      };

      export async function createFachwerk({
        setup = {},
        components = {},
        loader = null,
      }) {
        let data = {};
        if (!loader) {
          loader = fetch("./slides.md").then((res) => res.text());
        }
        const rawSlides = await loader;
        let global = {};
        const slides = parseSlides(rawSlides).slides.map((s) => {
          if (s.frontmatter?.data) {
            global = { ...global, ...s.frontmatter.global };
          }
          if (s.frontmatter?.data) {
            data = { ...data, ...s.frontmatter.data };
          }
          s.frontmatter.global = global;
          return s;
        });

        const slidesTemplate = slides.map((s, i) => {
          const classes = twMerge(
            `
              p-4
              md:p-[5vw]
              max-w-none
              min-h-screen
              prose
              md:prose-lg
              xl:prose-2xl
              prose-p:max-w-[70ch]
              md:prose-h1:text-6xl
              md:prose-h1:tracking-tight
              prose-code:before:content-none
              prose-code:after:content-none
              prose-code:px-1
              2xl:prose-p:text-3xl
              2xl:prose-p:leading-relaxed
              2x:prose-p:my-[2.5vw]
              2xl:prose-h1:text-8xl
              2xl:prose-h2:text-6xl
              2xl:prose-h3:text-4xl
              2xl:prose-h4:text-3xl
              2xl:prose-h5:text-2xl
              2xl:prose-code:text-2xl
              2xl:prose-code:leading-[2.5em]
              2xl:prose-pre:p-[2.5vw]
              2xl:prose-pre:max-w-[120ch]
              2xl:prose-li:text-3xl
              `,
            s.frontmatter?.global?.class,
            s.frontmatter?.class
          );
          return `<div
            class="${classes}"
            v-show="slide === ${i}"
          >
            ${compileMarkdown(s.content)}
          </div>`;
        });

        const template = `
      ${slidesTemplate.join("\n\n")}
      <div ref="menuRef" v-if="menu" class="not-prose fixed top-0 right-0 bottom-0 w-[80vw] md:w-[25vw] p-6 bg-white shadow">
        <div class="overflow-auto leading-8">
          <div class="cursor-pointer text-gray-700 hover:text-gray-900" v-for="slide in slides.filter(s => s.frontmatter?.title)" @click="goto(slide.frontmatter.title); menu = false">
            {{ slide.frontmatter?.title }}
          </div>
        </div>
      </div>
      <!--div class="text-lg md:text-2xl fixed right-3 bottom-3 flex text-md transition-opacity opacity-100 md:opacity-20 hover:md:opacity-100 bg-white md:bg-transparent rounded md:rounded-none shadow md:shadow-none">
        <button ref="menuIgnoreRef" class="border-none px-2 outline-none" @click="menu = !menu">≡</button>
        <button class="border-none px-3 outline-none" @click="prev">‹</button>
        <button class="border-none px-3 outline-none" @click="next">›</button>
      </div-->
      `;

        const Icon = {
          props: ["id"],
          setup(props) {
            const icon = ref("");
            const [collection, name] = props.id.split(":");
            fetch(`https://unpkg.com/@iconify/json/json/${collection}.json`)
              .then((res) => res.json())
              .then(({ icons }) => {
                icon.value = icons[name].body;
              });
            return { icon };
          },
          template: `<svg class="w-5 h-5 inline-block align-middle" viewBox="0 0 24 24" v-html="icon" />`,
        };

        const App = {
          components: { Icon, ...components },
          setup() {
            const menuRef = ref(null);
            const menuIgnoreRef = ref(null);
            const menu = ref(false);
            const slide = useStorage("fachwerk_slide", 0);
            const next = () => {
              if (slide.value < slides.length - 1) slide.value++;
            };
            const prev = () => {
              if (slide.value > 0) slide.value--;
            };
            const goto = (title) => {
              const index = slides.findIndex(
                (s) => s.frontmatter?.title === title
              );
              if (index > -1) {
                slide.value = index;
              }
            };
            onKeyStroke("ArrowLeft", prev);
            onKeyStroke("ArrowRight", next);
            onClickOutside(
              menuRef,
              () => {
                menu.value = false;
              },
              { ignore: [menuIgnoreRef] }
            );

            return {
              slides,
              menuRef,
              menuIgnoreRef,
              menu,
              slide,
              next,
              prev,
              goto,
              ...setup,
            };
          },
          template,
        };

        const app = createApp(App);
        app.use(Fachwerk);
        app.config.globalProperties.data = data;
        app.mount("#app");
      }

      const styles = await fetch("./slides.css").then((res) => res.text());
      const styleEl = document.createElement("style");
      styleEl.setAttribute("type", "text/tailwindcss");
      styleEl.textContent = styles;
      document.head.append(styleEl);

      import * as config from "./slides.js";
      createFachwerk(config);
    </script>
  </body>
</html>
